.App {
  text-align: center;
 
}

.header{
  
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0px;
  z-index: 2;
  height: 60px;
  
}
.body{
  display: flex;
  justify-content: center;
  
}